<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h4><img class="title-image" src="assets/images/property.png" alt="Page Title Image" />
                            <p class="title-txt">Configure/Add Property</p>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col-md-12">
                    <form action="">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Default input -->
                                <label for="">Property Name<span style="color:#BE1535;">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter name">
                
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Default input -->
                                <label for="">Property Value<span style="color:#BE1535;">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter name">
                            </div>
                            <div class="col-md-6">
                
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn form-submit-btn" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



