<!--Banner Test-->
<!-- <button class="btn btn-outline-dark" style="font-size: .8rem;" routerLink="/partners/banner-demo">
    Banner Demo
</button> -->
<!-- Vijay toastr Test -->
<!-- <button class="btn btn-success m-1" (click)="toastrService.success('Success!!', options)">Success</button> -->
<!-- <button class="btn btn-danger m-1" (click)="toastrService.error('Error :(', options)">Error</button> -->
<!-- <button class="btn btn-info m-1" (click)="toastrService.info('Some info....', options)">Info</button> -->
    <!-- <button class="btn btn-warning m-1" (click)="toastrService.warn('Warning: ...', options)">Warn</button> -->
    <!-- <button class="btn btn-outline-dark m-1" (click)="toastrService.clear()">Clear</button> -->

    <!-- Vijay Confirm Test
<button mat-raised-button color="primary" (click)="confirmDialog()">Confirm</button>
<br>
Response is: {{result}}
<br/> -->
<toastr></toastr>
<router-outlet></router-outlet>