<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <div class="page-title">
            <h4><img class="title-image" src="assets/images/events.png" alt="Page Title Image" />
              <p class="title-txt">Custom Events/Add Events</p>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="addCustomeventForm" (ngSubmit)="onAddCustomEvent()">
            <div class="row">
              <div class="col-md-6">
                <!-- Default input -->
                <label for="">Event Code<span class="required">*</span></label>
                <input class="form-control form-control-sm" type="text" readonly formControlName="eventCode">
              </div>
              <div class="col-md-6"></div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <!-- Default input -->
                <label for="">Event Name<span class="required">*</span></label>
                <input class="form-control form-control-sm" type="text" placeholder="Enter event name"
                  formControlName="eventName">
                <div class="form-input-error"
                  *ngIf="(addCustomeventForm.get('eventName')?.touched || addCustomeventForm.get('eventName')?.dirty)">
                  <div *ngIf="addCustomeventForm.get('eventName')?.errors?.required">
                    Please enter event name
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="">Event Description<span class="required">*</span></label>
                <input class="form-control form-control-sm" type="text" placeholder="Enter event description"
                  formControlName="eventDesc">
                <div class="form-input-error"
                  *ngIf="(addCustomeventForm.get('eventDesc')?.touched || addCustomeventForm.get('eventDesc')?.dirty)">
                  <div *ngIf="addCustomeventForm.get('eventDesc')?.errors?.required">
                    Please enter description
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <!-- Default input -->
                <h5 style="font-weight: 700">Fields</h5>
              </div>
              <div class="col-md-6">
              </div>
            </div>


            <div class="row">

              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-3">
                    <label for="">Field Name<span class="required">*</span></label>
                  </div>
                  <div class="col-md-3">
                    <label for="">Field Description<span class="required">*</span></label>
                  </div>
                  <div class="col-md-3">
                    <label for="">Type<span class="required">*</span></label>
                  </div>
                </div>
                <div class="event-fields-container" formArrayName="eventFields">
                  <ng-container
                    *ngFor="let fieldGroup of addCustomeventForm.get('eventFields')?.controls; let i = index;">
                    <div class="row" [formGroupName]="i">
                      <div class="col-md-3">
                        <!-- <label for="">Field Name<span class="required">*</span></label> -->
                        <input class="form-control form-control-sm" type="text" placeholder="Enter field name"
                          formControlName="fieldName">
                        <div class="form-input-error"
                          *ngIf="(addCustomeventForm.get('eventFields')?.controls[i].get('fieldName')?.touched || addCustomeventForm.get('eventFields')?.controls[i].get('fieldName')?.dirty)">
                          <div
                            *ngIf="addCustomeventForm.get('eventFields')?.controls[i].get('fieldName')?.errors?.required">
                            Please enter field name
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <!-- <label for="">Field Description<span class="required">*</span></label> -->
                        <textarea name="description" rows="5" class="form-control" placeholder="Description"
                          formControlName="fieldDesc"></textarea>
                        <div class="form-input-error"
                          *ngIf="(addCustomeventForm.get('eventFields')?.controls[i].get('fieldDesc')?.touched || addCustomeventForm.get('eventFields')?.controls[i].get('fieldDesc')?.dirty)">
                          <div
                            *ngIf="addCustomeventForm.get('eventFields')?.controls[i].get('fieldDesc')?.errors?.required">
                            Please enter field description
                          </div>
                        </div>

                      </div>
                      <div class="col-md-3">
                        <!-- <label for="">Type<span class="required">*</span></label> -->
                        <select name="fieldType" class="custom-select custom-select-sm" formControlName="fieldType">
                          <option value="">select</option>
                          <option value="stringType">String</option>
                          <option value="intType">Integer</option>
                          <option value="floatType">Float</option>
                          <option value="booleanType">Boolean</option>
                          <option value="dateType">Date Type</option>
                          <option value="datetimeType">Date Time</option>
                        </select>
                        <div class="form-input-error"
                          *ngIf="(addCustomeventForm.get('eventFields')?.controls[i].get('fieldType')?.touched || addCustomeventForm.get('eventFields')?.controls[i].get('fieldType')?.dirty)">
                          <div
                            *ngIf="addCustomeventForm.get('eventFields')?.controls[i].get('fieldType')?.errors?.required">
                            Please select field type
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <mat-checkbox formControlName="isMandatory">Mandatory</mat-checkbox>
                        <i class="fa fa-trash ml-4" (click)="onRemoveFields(i)"
                          *ngIf="addCustomeventForm.get('eventFields')?.controls?.length > 1"></i>
                      </div>
                    </div>
                  </ng-container>

                </div>

              </div>

              <div class="col-md-2 mt-4">
                <button type="button" class="btn btn-sm btn-primary add-format-more" (click)="addMoreFilelds()">
                  + Add more
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button class="btn form-submit-btn" type="submit" [disabled]="disableAddEventButton">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
