<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h4><img class="title-image" src="assets/images/user_event.png" alt="Page Title Image" />
                            <p class="title-txt">User Events/Add Events</p>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Default input -->
                                        <label for="">Group Name<span style="color:#BE1535;">*</span></label>
                                        <input class="form-control form-control-sm" type="text" placeholder="E0007" readonly>
                        
                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Default input -->
                                        <label for="">Field Name<span style="color:#BE1535;">*</span></label>
                                        <input class="form-control form-control-sm" type="text" placeholder="Enter event name">
                                    </div>
                                    <div class="col-md-6">
                        
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Default input -->
                                        <label for="">Input Type<span style="color:#BE1535;">*</span></label>
                                        <select class="custom-select custom-select-sm">
                                            <option selected>select</option>
                                            <option value="1">Text</option>
                                            <option value="2">Select</option>
                                            <option value="3">Calendar</option>
                                        </select>
                        
                                    </div>
                                    <div class="col-md-6">
                        
                        
                                    </div>
                                </div>
                        
                                <br>
                        
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Condition</label>
                                        <select class="custom-select custom-select-sm">
                                            <option selected>select</option>
                                            <option value="1">EqualTo</option>
                                            <option value="2">NotEqualTo</option>
                                            <option value="3">LessThan</option>
                                            <option value="2">GreaterThan</option>
                                            <option value="3">Between</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-sm btn-rounded my-2" type="button"
                                            style="color:#fff;background-color: #59595C;"><i class="fa fa-plus"
                                                style="margin-right: 10px;"></i>Add More</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-rounded my-4" type="submit"
                                            style="color:#fff;background-color: #59595C;">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


