$app-header-height: 50px;
$app-sidenav-width: 220px;
$app-minimal-sidenav-width: 60px;
$app-footer-height: 35px;
$page-wrapper-bottom-margin: 35px;
$page-wrapper-padding: 10px;

$app-header-background-color: #fff;