<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h4><img class="title-image" src="assets/images/video_campaign.png" alt="Page Title Image" />
                            <p class="title-txt">Campaign/Add Video campaign</p>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
  
  
        <div class="page-body">
            <div class="row">
                <div class="col-md-12">
                    <form action="">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Default input -->
                                <label for="">Partner<span style="color:#BE1535;">*</span></label>
                                <select class="custom-select custom-select-sm">
                                    <option selected>Select partner</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Default input -->
                                <label for="">Select Country<span style="color:#BE1535;">*</span></label>
                                <select class="custom-select custom-select-sm">
                                    <option selected>Select</option>
                                    <option value="">India</option>
                                    <option value="">Srilanka</option>
                                    <option value="">UAE</option>
                                </select>
                
                            </div>
                            <div class="col-md-6">
                                <label for="">Select State<span style="color:#BE1535;">*</span></label>
                                <select class="custom-select custom-select-sm">
                                    <option selected>Select</option>
                                    <option value="">Mumbai</option>
                                    <option value="">Delhi</option>
                
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Click Type<span style="color:#BE1535;">*</span></label>
                                <select class="custom-select custom-select-sm">
                                    <option selected>Select</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <!-- Default input -->
                                <label for="">Target Url<span style="color:#BE1535;">*</span></label>
                                <input class="form-control form-control-sm" type="url" placeholder="Enter url">
                                <label for="">(enter max 256 characters only)</label>
                            </div>
                        </div>
                
                
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Default input -->
                                <label for="">Status<span style="color:#BE1535;">*</span></label>
                                <select class="custom-select custom-select-sm">
                                    <option selected>Select</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                
                            </div>
                            <div class="col-md-6">
                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Default input -->
                                <label for="">Select Format<span style="color:#BE1535;">*</span></label>
                                <select class="custom-select custom-select-sm">
                                    <option selected>Select</option>
                                    <option value="">120*40</option>
                                    <option value="">240*40</option>
                                    <option value="">320*240</option>
                                    <option value="">240*320</option>
                                    <option value="">40*120</option>
                                    <option value="">40*240</option>
                                </select>
                
                            </div>
                            <div class="col-md-6">
                
                                <input type="file" style="margin-top: 31px;">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Default input -->
                                <label for="">Age group<span style="color:#BE1535;">*</span></label>&nbsp;
                                <input type="checkbox" value="below 18" name="age">&nbsp;below 18&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" value="18 to 25" name="age">&nbsp;18 to 25&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" value="18 to 25" name="age">&nbsp;26 to 35&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" value="18 to 25" name="age">&nbsp;36 to
                                45&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" value="18 to 25" name="age">&nbsp;above 46
                
                            </div>
                            <div class="col-md-6">
                
                                <label for="">Gender<span style="color:#BE1535;">*</span></label>&nbsp;&nbsp;
                                <input type="checkbox" value="below 18" name="gender">&nbsp;Male&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" value="18 to 25" name="gender">&nbsp;Female&nbsp;&nbsp;&nbsp;
                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Select Genre<span style="color:#BE1535;">*</span></label>
                                <select class="custom-select custom-select-sm">
                                    <option selected>Select</option>
                                    <option selected>Entertainment Lovers</option>
                                    <option selected>Live Tv Users</option>
                                    <option selected>Travel Lovers</option>
                
                                </select>
                
                            </div>
                            <div class="col-md-6">
                                <!-- Default input -->
                                <label for="">Nationality<span style="color:#BE1535;">*</span></label>
                                <select class="custom-select custom-select-sm">
                                    <option value="">Select</option>
                                    <option value="">Bangladesh</option>
                                    <option value="">Dubai</option>
                                    <option value="">India</option>
                                    <option value="">Pakistan</option>
                                    <option value="">Srilanka</option>
                                </select>
                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Priority<span style="color:#BE1535;">*</span></label>
                                <select class="custom-select custom-select-sm">
                                    <option value="">Select</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                
                            </div>
                            <div class="col-md-6">
                
                
                            </div>
                        </div>
                
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="">Campaign Limit<span style="color:#BE1535;">*</span></label>&nbsp;&nbsp;
                                <input type="radio" value="clicks"
                                    name="limit">&nbsp;Clicks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" value="amount" name="limit">&nbsp;Amount(in AED)
                            </div>
                            <div class="col-md-3">
                                <input type="number" class="form-control form-control-sm" placeholder="Enter value here">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Default input -->
                                <label for="">Start Date<span style="color:#BE1535;">*</span></label>
                                <input placeholder="Selected date" type="text" id="date-picker-example"
                                    class="form-control form-control-sm datepicker">
                
                            </div>
                            <div class="col-md-6">
                                <!-- Default input -->
                                <label for="">End Date<span style="color:#BE1535;">*</span></label>
                                <input placeholder="Selected date" type="text" id="date-picker-example"
                                    class="form-control form-control-sm datepicker">
                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12 text-center">
                
                                <button class="btn" type="submit"
                                    style="color:#fff;background-color: #59595C;border-radius:5px;text-transform: capitalize;font-size:16px;padding: 8px 25px;letter-spacing: 1px;">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>




