<div class="table-col-filter-drop-wrapper">
  <span class="label">Show</span>
  <div class="d-inline-block" ngbDropdown #filterDrop="ngbDropdown">
    <button class="btn btn-outline-dark mr-2" id="filterDropdown" ngbDropdownAnchor (focus)="filterDrop.open()">All entries</button>
    <div ngbDropdownMenu aria-labelledby="filterDropdown">
      <form>
          <div class="columns-container">
              <div class="column-item">
                <input type="checkbox" name="column_1" />
                <span>Column 1</span>
              </div>
              <div class="column-item">
                <input type="checkbox" name="column_2" />
                <span>Column 2</span>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
